.subtitle{
    font-weight: bolder;
    font-size: 20px;
}

.logo{
    width: 90px;
}

.descript{
    text-align: left;
    margin-top: 30px;
}

.btn{
    margin-top: -50px;
    margin-bottom: 20px;
}

.link{
    color: #8D3B72;
    text-decoration: underline;
    cursor: pointer;
}